## FEATURE ENGINEERING

### Домашняя работа 3

In [26]:
import numpy as np
import pandas as pd

from matplotlib import pyplot as plt
from sklearn.linear_model import LinearRegression

In [81]:
data = pd.read_csv('aac_shelter_outcomes.csv')
data.head()

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
0,2 weeks,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,2014-07-22T16:04:00,NaN,Partner,Transfer,Intact Male
1,1 year,A666430,Dog,Beagle Mix,White/Brown,2012-11-06T00:00:00,2013-11-07T11:47:00,2013-11-07T11:47:00,Lucy,Partner,Transfer,Spayed Female
2,1 year,A675708,Dog,Pit Bull,Blue/White,2013-03-31T00:00:00,2014-06-03T14:20:00,2014-06-03T14:20:00,*Johnny,NaN,Adoption,Neutered Male
3,9 years,A680386,Dog,Miniature Schnauzer Mix,White,2005-06-02T00:00:00,2014-06-15T15:50:00,2014-06-15T15:50:00,Monday,Partner,Transfer,Neutered Male
4,5 months,A683115,Other,Bat Mix,Brown,2014-01-07T00:00:00,2014-07-07T14:04:00,2014-07-07T14:04:00,NaN,Rabies Risk,Euthanasia,Unknown

#### 1. Проверка наличия пропусков.

In [82]:
data.isna().sum()

age_upon_outcome        8
animal_id               0
animal_type             0
breed                   0
color                   0
date_of_birth           0
datetime                0
monthyear               0
name                23886
outcome_subtype     42293
outcome_type           12
sex_upon_outcome        2
dtype: int64

In [83]:
#data[data['animal_id'] == 'A701901']

#### 2. Столбец 'age_upon_outcome'.

Переведем возраст всех животных в годы. Для этого сначала необходимо извлечь из столбца 'age_upon_outcome' следующие данные: значение возраста и единицы измерения возраста.

In [84]:
# Разделение столбца 'age_upon_outcome' на два столбца 'age' и 'age_period'

data['age'] = data['age_upon_outcome'].str.split(' ').str[0].fillna(0).astype(int)
data['age_period'] = data['age_upon_outcome'].str.split(' ').str[1].fillna(0)

# Удаление столбца 'age_upon_outcome'
data.drop(['age_upon_outcome'], axis=1, inplace=True)

data.head(5)

,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome,age,age_period
0,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,2014-07-22T16:04:00,NaN,Partner,Transfer,Intact Male,2,weeks
1,A666430,Dog,Beagle Mix,White/Brown,2012-11-06T00:00:00,2013-11-07T11:47:00,2013-11-07T11:47:00,Lucy,Partner,Transfer,Spayed Female,1,year
2,A675708,Dog,Pit Bull,Blue/White,2013-03-31T00:00:00,2014-06-03T14:20:00,2014-06-03T14:20:00,*Johnny,NaN,Adoption,Neutered Male,1,year
3,A680386,Dog,Miniature Schnauzer Mix,White,2005-06-02T00:00:00,2014-06-15T15:50:00,2014-06-15T15:50:00,Monday,Partner,Transfer,Neutered Male,9,years
4,A683115,Other,Bat Mix,Brown,2014-01-07T00:00:00,2014-07-07T14:04:00,2014-07-07T14:04:00,NaN,Rabies Risk,Euthanasia,Unknown,5,months

In [85]:
# Уникальные значения столбца 'age_period'
data['age_period'].unique()

array(['weeks', 'year', 'years', 'months', 'month', 'days', 'week', 'day',
       0], dtype=object)

In [86]:
# Перевод возраста всех животных в годы 
def ages(period):
    '''Перевод овзраста животных в годы.'''        
    if period['age_period'] == 'year' or period['age_period'] == 'years':
        return period['age']
    
    if period['age_period'] == 'month' or period['age_period'] == 'months':
        return period['age'] / 12 
    
    if period['age_period'] == 'week' or period['age_period'] == 'weeks':
        return period['age'] / 52
    
    if period['age_period'] == 'day' or period['age_period'] == 'days':
        return period['age'] / 365

data['age_outcome_years_1'] = data.apply(ages, axis=1)

# Удаление столбцов 'age' и 'age_period'
data.drop(['age', 'age_period' ], axis=1, inplace=True)

data.head(5)

,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome,age_outcome_years_1
0,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,2014-07-22T16:04:00,NaN,Partner,Transfer,Intact Male,0.038462
1,A666430,Dog,Beagle Mix,White/Brown,2012-11-06T00:00:00,2013-11-07T11:47:00,2013-11-07T11:47:00,Lucy,Partner,Transfer,Spayed Female,1.000000
2,A675708,Dog,Pit Bull,Blue/White,2013-03-31T00:00:00,2014-06-03T14:20:00,2014-06-03T14:20:00,*Johnny,NaN,Adoption,Neutered Male,1.000000
3,A680386,Dog,Miniature Schnauzer Mix,White,2005-06-02T00:00:00,2014-06-15T15:50:00,2014-06-15T15:50:00,Monday,Partner,Transfer,Neutered Male,9.000000
4,A683115,Other,Bat Mix,Brown,2014-01-07T00:00:00,2014-07-07T14:04:00,2014-07-07T14:04:00,NaN,Rabies Risk,Euthanasia,Unknown,0.416667

Проверим, чтобы возраст всех животных был больше 0.

In [87]:
# Количество и доля животных, возраст которых меньше 0
print('Количество животных с возрастом меньше нуля:', data.query('age_outcome_years_1 < 0')['age_outcome_years_1'].count())
print('Доля животных с возрастом меньше нуля:', data.query('age_outcome_years_1 < 0')['age_outcome_years_1'].count() / data['age_outcome_years_1'].count())

Количество животных с возрастом меньше нуля: 0
Доля животных с возрастом меньше нуля: 0.0

В результате получили столбец с возрастом животных в годах, при этом все значения больше 0.

#### 3. Столбцы 'date_of_birth', 'datetime' и 'monthyear'

In [88]:
# Преобразование метки времени в дату и время
data.loc[:, 'date_of_birth'] = pd.to_datetime(data['date_of_birth'])
data.loc[:, 'datetime'] = pd.to_datetime(data['datetime'])
data.loc[:, 'monthyear'] = pd.to_datetime(data['monthyear'])

# Проверка идентичности столбцов 'datetime' и 'monthyear'
(data['datetime'] - data['monthyear']).unique()

array([0], dtype='timedelta64[ns]')

Поскольку столбцы 'datetime' и 'monthyear' одинаковые, то один из них можно удалить.

In [89]:
# Удаление столбца 'monthyear'
data.drop(['monthyear'], axis=1, inplace=True)

Определим возраст животных на момент покидания приюта, используя столбцы 'date_of_birth' и 'datetime'.

In [90]:
# Возраст животных в годах на момент покидания приюта
data['age_outcome_years_2'] = ((data['datetime'] - data['date_of_birth']))/ np.timedelta64(1, 'Y')
data.head(5)

,animal_id,animal_type,breed,color,date_of_birth,datetime,name,outcome_subtype,outcome_type,sex_upon_outcome,age_outcome_years_1,age_outcome_years_2
0,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07,2014-07-22 16:04:00,NaN,Partner,Transfer,Intact Male,0.038462,0.042901
1,A666430,Dog,Beagle Mix,White/Brown,2012-11-06,2013-11-07 11:47:00,Lucy,Partner,Transfer,Spayed Female,1.000000,1.003418
2,A675708,Dog,Pit Bull,Blue/White,2013-03-31,2014-06-03 14:20:00,*Johnny,NaN,Adoption,Neutered Male,1.000000,1.176197
3,A680386,Dog,Miniature Schnauzer Mix,White,2005-06-02,2014-06-15 15:50:00,Monday,Partner,Transfer,Neutered Male,9.000000,9.036899
4,A683115,Other,Bat Mix,Brown,2014-01-07,2014-07-07 14:04:00,NaN,Rabies Risk,Euthanasia,Unknown,0.416667,0.497166

Проверим, чтобы возраст всех животных был больше 0.

In [91]:
# Количество и доля животных, возраст которых меньше 0
print('Количество животных с возрастом меньше нуля:', data.query('age_outcome_years_2 < 0')['age_outcome_years_2'].count())
print('Доля животных с возрастом меньше нуля:', data.query('age_outcome_years_2 < 0')['age_outcome_years_2'].count() / data['age_outcome_years_2'].count())

Количество животных с возрастом меньше нуля: 8
Доля животных с возрастом меньше нуля: 0.00010222858311183807

В результате получили 8 животных с возрастом меньше 0 по столбцу 'age_outcome_years_2'.

Столбцы 'age_outcome_years_1' и 'age_outcome_years_2' содержат в себе аналогичную информацию - возраст животного на момент покидания приюта. Поэтому для дальнейшего анализа нужно оставить только один из этих двух признаков. 
Сравним значения двух полученных столбцов: 'age_outcome_years_1' и 'age_outcome_years_2'.

In [92]:
# Сравнение значений столбцов 'age_outcome_years_1' и 'age_outcome_years_2'
df = pd.DataFrame({'type':['age_outcome_years_1', 'age_outcome_years_2'], 
      'nan_count':[data.isna().sum().age_outcome_years_1, data.isna().sum().age_outcome_years_2], 
      'negative_age_count':[data.query('age_outcome_years_1 < 0')['age_outcome_years_1'].count(), data.query('age_outcome_years_2 < 0')['age_outcome_years_2'].count()]})

df

                  type  nan_count  negative_age_count
0  age_outcome_years_1          8                   0
1  age_outcome_years_2          0                   8

Как видно, в каждом столбце по 8 некорректных значений. При этом столбец 'age_outcome_years_2' содержит в себе более точные данные, поскольку рассчитывался с точностью до дня. 

Принимаем решение оставить столбец 'age_outcome_years_2', предварительно очистив его от отрицательного возраста (количество данных значений незначительно - менее < 1%)  . Столбец 'age_outcome_years_1' удаляем.

In [93]:
# Удаление отрицательного возраста из 'age_outcome_years_2'
data = data.query('age_outcome_years_2 >= 0')

# Удаление столбца 'age_outcome_years_1'
data.drop(['age_outcome_years_1'], axis=1, inplace=True)

data.head(5)

,animal_id,animal_type,breed,color,date_of_birth,datetime,name,outcome_subtype,outcome_type,sex_upon_outcome,age_outcome_years_2
0,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07,2014-07-22 16:04:00,NaN,Partner,Transfer,Intact Male,0.042901
1,A666430,Dog,Beagle Mix,White/Brown,2012-11-06,2013-11-07 11:47:00,Lucy,Partner,Transfer,Spayed Female,1.003418
2,A675708,Dog,Pit Bull,Blue/White,2013-03-31,2014-06-03 14:20:00,*Johnny,NaN,Adoption,Neutered Male,1.176197
3,A680386,Dog,Miniature Schnauzer Mix,White,2005-06-02,2014-06-15 15:50:00,Monday,Partner,Transfer,Neutered Male,9.036899
4,A683115,Other,Bat Mix,Brown,2014-01-07,2014-07-07 14:04:00,NaN,Rabies Risk,Euthanasia,Unknown,0.497166

#### 4. Столбец 'animal_id'.

#### 5. Столбцы 'color' и 'name'.

Исходя из допущения, что окрас животного и его кличка не влияют на значения столбца 'outcome_type', удалим данные признаки из датасета -  'color' и 'name'.

In [94]:
# Удаление столбцов 'color' и 'name'
data.drop(['color', 'name'], axis=1, inplace=True)
data.head(5)

,animal_id,animal_type,breed,date_of_birth,datetime,outcome_subtype,outcome_type,sex_upon_outcome,age_outcome_years_2
0,A684346,Cat,Domestic Shorthair Mix,2014-07-07,2014-07-22 16:04:00,Partner,Transfer,Intact Male,0.042901
1,A666430,Dog,Beagle Mix,2012-11-06,2013-11-07 11:47:00,Partner,Transfer,Spayed Female,1.003418
2,A675708,Dog,Pit Bull,2013-03-31,2014-06-03 14:20:00,NaN,Adoption,Neutered Male,1.176197
3,A680386,Dog,Miniature Schnauzer Mix,2005-06-02,2014-06-15 15:50:00,Partner,Transfer,Neutered Male,9.036899
4,A683115,Other,Bat Mix,2014-01-07,2014-07-07 14:04:00,Rabies Risk,Euthanasia,Unknown,0.497166

In [ ]:
1. age_upon_outcome - возрст животного на момент попадания в приют
2. animal_id - не все уникальные, количество повторов достигает 11
3. breed - порода
4. datetime и monthyear - дата и время поступления
5. sex_upon_outcome - пол животного и, если оно было стерилизовано или стерилизовано.

6. sex_upon_outcome - разделить на два признака: пол и стерил/нестерил
7. разделить на две категории: порода - непорода
    8. возраст - в неудобном для анализа формате. нужно преобразовать

In [25]:
data.outcome_type.value_counts()
# len(data.animal_id.unique())

Adoption           33112
Transfer           23499
Return to Owner    14354
Euthanasia          6080
Died                 680
Disposal             307
Rto-Adopt            150
Missing               46
Relocate              16
Name: outcome_type, dtype: int64