## FEATURE ENGINEERING

### Домашняя работа 1

In [1]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression

Проанализируем данные о ежемесячных затратах компании на оплату заработной платы сотрудникам.
Зарплата сотрудника зависит от количества отработанных часов в месяц и сложности выполненной работы. Сложность выполненной работы учитывается в дифференцированных затратах в час.

In [2]:
# Создаём сэмпл с количеством наблюдений = 1000
n_samples = 1000

Добавим в таблицу следующие данные: 

1) возраст сотрудника (от 23 до 60 лет);

2) стоимость 1 часа работы сотрудника (от 100 до 4000);

3) количество отработанных часов в месяц (от 0 до 176).

In [3]:
# Возраст сотрудника
age_employee = np.random.choice(37, n_samples) + 23

# Удельная стоимость работ сотрудника
cost_of_hour = np.random.choice(3900, n_samples) + 100

# Количество отработанных часов
work_hours = np.random.choice(8*22, n_samples) + 0

Определим формулу для расчета затрат компании на зарплату сотрудников.

In [4]:
# Расчет затрат компании на зарплату сотрудников
employee_cost = cost_of_hour * work_hours * 50

Создадим датасет со всеми подготовленными данными.

In [5]:
# Создадим датасет
data = pd.DataFrame({'age_employee': age_employee, 'cost_of_hour': cost_of_hour, 'work_hours': work_hours, 'employee_cost': employee_cost})
data.head(5)

   age_employee  cost_of_hour  work_hours  employee_cost
0            58          2157          62        6686700
1            41          2146         162       17382600
2            34          3511          64       11235200
3            29          2524         107       13503400
4            53          2908          60        8724000

Предположим, что все данные из датасета влияют на итоговую величину employee_cost. Поэтому обучим модель с учетом всех данных датасета и посмотрим на ошибку.

In [6]:
from sklearn.metrics import mean_absolute_error

X = data[['age_employee', 'cost_of_hour', 'work_hours']]
y = data['employee_cost']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['age_employee', 'cost_of_hour', 'work_hours']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [ -1472.07353446   4123.95955809 103823.7475558 ]
Bias: -8441669.921550808
Error: 2164822.862951013

#### Вывод: значительный размер ошибки, зависимость определена неверно.

Предположим, что возраст сотрудников не влияет на итоговую величину employee_cost. Поэтому не будем учитывать age_employee при построении регрессии и проанализируем полученные данные.

In [7]:
X = data[['cost_of_hour', 'work_hours']]
y = data['employee_cost']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['cost_of_hour', 'work_hours']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [  4124.31220937 103821.57211067]
Bias: -8501595.018985493
Error: 2164841.256004379

#### Вывод: значительный размер ошибки, зависимость определена неверно.

Создадим новый признак из двух существующих и учтем его при построении регрессии.

In [8]:
# Создаем новый признак
data['volume'] = data['cost_of_hour'] * data['work_hours']
data.head(5)

   age_employee  cost_of_hour  work_hours  employee_cost  volume
0            58          2157          62        6686700  133734
1            41          2146         162       17382600  347652
2            34          3511          64       11235200  224704
3            29          2524         107       13503400  270068
4            53          2908          60        8724000  174480

In [9]:
X = data[['volume']]
y = data['employee_cost']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['volume']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [50.]
Bias: 1.862645149230957e-09
Error: 1.5366822481155395e-09

#### Вывод: размер ошибки значительно меньше 0 , следовательно зависимость определена верно.